<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- Primeros pasos de permisos-->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.MyApplication"
        tools:targetApi="31" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen" > <!-- Nuestro tema creado en themes.xml , arriba en android theme, añadi el base. -->
            <!--  android:configChanges="orientation|screenSize" atributo para registrar giros de pantalla, y no reinicie ahora metodo 146 "Pantalla en modo horizontal"
            para otras cosas como el idioma y tal, tengo que ir añadiendo | al android configChanges-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>

    <!--Linea 10, android:label="@string/app_name" nombre sea un recurso que puedes cambiar fácilmente (en diferentes idiomas), aunque ahora el nombre de la aplicación debe estar definido en el archivo res/values/strings.xml -->